#peopleBackground {
    margin-bottom: 20vh;
}

#peopleTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    text-align: center;
    box-shadow: 1px 2px 5px #757579;
}

#aboutUs {
    font-size: 100%;
    margin-bottom: 3vh;
    text-align: left;
    font-family: 'Codystar', cursive;
    font-weight: 900;
    display: inline-block;
    padding: 5px 10px;
}

#aboutUsBreak {
    display: block;
}

#peoplePicBox {
    padding: 30px;
    text-align: center;
}

#peoplePicBox::after {
    content: "";
    display: block;
    clear: both;
}

.peopleInfo {
    font-family: 'Corbel', sans-serif;
    text-align: left;
}

.peopleInfoQuote  {
    font-family: 'Corbel', sans-serif;
    font-style: italic;
    text-align: center;
}

.picContainer {
    width: 10em;
    max-width: 200px;
    padding: 0 1em;
    margin-bottom: 30px;
    text-align: center;
}

.peoplePic {
    object-fit: contain;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid white;
    box-shadow: 2px 3px 4px grey;
}

.peopleName {
    font-size: 110%;
    font-weight: 700;
    padding: 1.5vh 0;
}

.person {
    background-color: #e2e1e3;
}

.person:hover {
    background-color: #b2d08b;
}

#loginBackground {
    height: 200vh;
}

#locations {
    width: 100vw;
    display: none;
}

#blogButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blogButtonWords {
    padding: .5em;
    background-color: #b2d08d;
    border: 2px solid #b2d08d;
    color: #f4f7fc;
    border-radius: 5px;
}

#blogButtonWords:hover {
    background-color: #f4f7fc;
    color: #b2d08d;
}

.aboutUsPara{
    color: #ffffff;
    /*padding: 2vh 10vh 3vh;*/
}

@media (min-width: 36em) {

    .aboutUsPara{
        padding: 0;
    }
}

@media (min-width: 48em) {

    .aboutUsPara{
        padding: 2px;
    }

}

@media (min-width: 300px) and (max-width: 480px) {
    #peoplePicBox {
        padding: 30px !important;
    }
}

@media (max-width: 576px) {
	.peopleTagline {
	    font-size: 14px;
    }
    .picContainer{
        max-width: 120px;
    }
}