#nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    padding: 0 12vw;
    /* padding-bottom: 0; */
    box-shadow: 0 -1px 5px #757579;
    display: grid;
    z-index: 9999;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-new{
    width: 90%;
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.navLogo{
    width: 40px;
    height: 40px;
}
.mobile{
    display: none;
}
.imglogo{
    align-items: center;
}
.menu-flex{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.menu-item{
    font-size: x-large;
    font-weight: 800;
    color: #1e3b38;
    margin: 0 1em;
    display: flex;
    align-content: center;
    align-self: center;
}
.menu-item:hover, .menu-item:focus, .menu-item:active{
    color: #5fafdc;
    text-decoration: none;

}
.underlineText{
    text-decoration: underline;
    text-decoration-color: #aed5e6;
    font-weight: bold;
    text-underline-offset: 3px;
}
.menuHead{
    background-color: #38618c;
    min-width: 200px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aed5e6;
}
.menuHead:hover{
    color: #aed5e6;

}
.submenu-item{
    color:#fefcfb;
    padding: 0.5em;
}
.submenu-item-active{
    color:#fefcfb;
    padding: 0.5em;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: #fefcfb;
    text-underline-offset: 1px;
}
.submenu-item:hover, .submenu-item:focus, .submenu-item:active{
    text-decoration: underline;
    font-weight: bold;
    color: #fefcfb;
}
.nobg{
    background-color: transparent;
    color: #aed5e6;
    font-weight: bold;
}
.menu-item-active{
    color: #5fafdc;

}
.login-btn{
    display: flex;
    align-self: center;
    justify-self: center;
}
.menu-link{
    margin: 0 4px;
    height: fit-content;
    font-size: small;
    font-weight: lighter;
    color: darkgray;
}
.menu-link > i{
    color: darkgray;
}
.menu-link > i:hover, .menu-link > i:focus, .menu-link:hover, .menu-link-focus{
    color:#1e3b38;
}
.menu-end{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.service-menu {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
  }
.service-content {
    display: none;
    position: fixed;
    bottom: 10vh;
    background-color: #1b2c3a;
    border: 1px solid black;
    min-width: fit-content;
    grid-template-rows: auto;
    z-index: inherit;
    flex-direction: column;
    justify-content: space-between;
    min-height: 240px;
  }
 .service-menu:hover .service-content {
    display: flex;
  }
  .mobile-menu{
      position: fixed;
      right: 0;
      bottom: 0;
      grid-template-columns: auto;
      z-index: 10000;
      row-gap: 3px;
      background-color: ivory;
      padding: 5px;
      height: calc(6*(0.4em + 30px));
      width: 180px;
  }
  .close{
      z-index: 10001;
  }
  
  .mobile-menu-item {
      background-color: lightgray;
      width: 100%;
      border-radius: 2px;
  }
  @media only screen and (max-width: 1440px) {
    #nav{
        padding: 0 8vw;
    }    
}
.ham{
    display: none;
}
@media only screen and (max-width: 1200px) {
    .mobile{
        display: grid;
        
    }
    .show{
        display: grid;
    }
    .hide{
        display: none;
    }
    #nav {
        height: 10vh;
    }
    .nav-container{
        margin: 10px 0;
        justify-content: space-between;

    }
    .navbar-new{
        justify-content: space-between;
    }
    .service-menu {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .service-content {
        position: fixed;
        right: 180px;
        bottom: 0;
        min-height: auto;
        row-gap: 10px;
        height: calc(6*(0.4em + 30px) - 8px);
        min-width: 170px;
        width: fit-content;
    }

    .menu-item {
        display: block;
        padding: 0.2em 0;
        padding-left: 1em;
        font-size: larger;
        font-weight: 900;
    }
    .service-content > p {
        font-size: medium;
        font-weight: 800;
    }
    .service-content > p ,.service-content > a {
        display: flex;
    }
    .submenu-item-mobile{
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-left: 1em;
        padding-right: 2em;
        align-items: center;
    }
    .menuHead{
        min-width: auto;
        min-height: 30px;
    }
    .ham{
        display: flex;
        align-items: center;
    }
    .menu-end{
        grid-template-columns: 1fr auto 1fr;
        align-items: flex-end;
        margin-bottom: 1vh;
    }
    .desktop-only{
        display: none;
    }
    .hide-mobile-only-sidebar{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .navLogo{
        width: 30px;
        height: 30px;
    }
}