#background {
    width: 100%;
    min-height: 100vh;
    background-image: url(./hex-background.png);
    background-size: 180vh;
}

#background::after {
    content: "";
    display: block;
    clear: both;
}