/* The sidebar menu */

  .grid-container {
    display:grid;
    grid-template-columns: repeat(2,3fr 1fr 1fr);
    column-gap: 5px;
    row-gap: 10px;
  }
  .groups-calc{
    padding: 40px;
    margin-top: 40px;
  }
  .main-container {
    display:grid;
    grid-template-columns: auto 300px;
    row-gap: 0;
    column-gap: 2em;
  }
  .row-head {
    padding: 1em 0;
  }
  .grid-item {
    height: 21px;
  }
  .blue-title {
    background-color: #a2c8e5;
  }
  .green-title {
    background-color: #b8d093;
  }
  .yellow-title  {
    background-color: #e3df92;
  }
  .red-title {
    background-color: #cc9ab0;
  }
  .orange-title {
    background-color: #efd5bf;
  }
  .dark-yellow-title {
    background-color: #e3d4bb;
  }
  .teal-title {
    background-color: #a0cfc5;
  }
  .blue-content {
    background-color: #a2c8e5;
  }
  .green-content {
    background-color: #dbe6c9;
  }
  .yellow-content  {
    background-color: #f1efc8;
  }
  .red-content {
    background-color: #e5ccd7;
  }
  .orange-content {
    background-color: #f7eadf;
  }
  .dark-yellow-content {
    background-color: #f1eadd;
  }
  .teal-content {
    background-color: #a0cfc5;
  }
  .calculator {
    max-height: auto;
  }
  .form-control:focus{
    box-shadow: none;

  }
  .lightBlueBg{
    background-color: #f2faff;
  }
  .nBlueBg{
    background-color: #3f89b3;
  }
  .darkBlueBg{
    background-color: #38618c;
  }
  .width90{
    width: 90%;
    margin: auto;
  }
  .offWhite{
    background-color: #fefcfb;
  }
  .pointer{
    cursor: pointer;
  }
  .calc-grid{
    display: grid;
    grid-template-columns: auto  40px;
  }
  .greyBg{
    background-color: #e2e1e3;
  }
  .blueBg{
    background-color: #5fafdc;
  }
  .redBg{
    background-color: #f28165;
  }
  .redBorder{
    border-color: #f28165;
    border-width: 2px;
    border-style: solid;
    background-color: white;
  }
  .sidenav{
    height: 75vh;
    overflow-y: scroll;
    width: fit-content;
    background-color: white;
  }
  .sidenav::-webkit-scrollbar {
    width: 0.5em;
  }

  .sidenav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .sidenav::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
.selected {
    background-color: #eee;
}
  .border {
      border: 1px solid #818181;
      padding-left: 1em;
      padding-right: 1em;
      border-radius: 4px;
  }
  .border-green {
    border: 1px solid #86bc4b;
    border-radius: 4px;
}
.border-blue {
  border: 1px solid #5fafdc;
  border-radius: 4px;
}
  .border-2 {
    border-radius: 4px;
}
.table-text{
  font-size: smaller;
}
  .side-label {
      text-align: left;
      padding: 7px;
  }
  .mx-1 {
    margin-left: 1em;
    margin-bottom: 1em;
  }
  .my-1 {
      margin-top:  1em ;
      margin-bottom: 1em;
  }
  .p-2 {
    padding: 2em
}
  .p-1 {
      padding: 1em
  }
  .p-1-4 {
    padding: 0.25em
}
  .panel-sub-title {
      padding: 10px;
      margin-bottom: 1em;
      max-width: fit-content;
  }
  .panel-sub-title-2 {
    padding: 10px;
    margin-bottom: 1em;
}
  .heading {
      font-size: large;
  }
  .heading-block {
    max-width: fit-content;
    margin: 2em auto;
  }
  .margin-bot  {
      margin-bottom: 10vh
  }
  .testLabels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.labelers  {
    display: block;
    width: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1em;
}
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  margin-bottom: 8px;
  background: #D3D3D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 4px;
}

.slider:hover {
  opacity: 1;
}

.pyforce {
  width: 100%;
  height: 100%;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border-width: 4px;
  border-style: solid;
  border-color: white;
  background: #5fafdc;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border-width: 4px;
  border-style: solid;
  border-color: white;
  background: #5fafdc;
  cursor: pointer;
}
.slider::-moz-range-progress{
  background-color: #86bc4b;
}

.testLabels {
  display: flex;
  justify-content: space-between;
}
.labels{
  width: 30px;
}
.left-text{
  text-align: left;
}
.calc-padding{
  padding: 25px 10px;
}
.sidenav a {
  font-size: 18px;
}
  @media only screen and (max-width: 900px) {
    .sidenav {
      position: sticky; /* Fixed Sidebar (stay in place on scroll) */
      bottom: 9vh;
      height: 35vh;
      overflow: auto;
      margin: auto;
      min-width: 80%;
      
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
.sidenav::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidenav {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
    .grid-item-x {
      display: none;
    }
    .main-container{
      grid-template-columns: auto;
    }
    .grid-container {
      display:grid;
      grid-template-columns:3fr 1fr 1fr;
      
    }
    .control-label {
      padding-top: 7px;
      margin-bottom: 0;
      text-align: right;
    }
    .grid-item {
      height: auto;
    }
    .calculator {
      min-height: 68vh;
    }
  }
  
/* select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
} */
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-width: 450px) {
    
    
    .groups-calc{
      padding: 40px 10px;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .calc-top{
    height: 40px;
  }
  
  .dredBg{
    background-color: #d0593b;
  }
  .white{
    color: white
  }
  .panel-calc{
    padding: 1.2em 0;
    border-radius: 0.2em;
  }
  .side-grid{
    display: grid;
    row-gap: 10px;
  }
  .grid-items-calc{
    background-color: #f7f0f5;
    padding: 10px 20px;
  }
  .grid-items-start{
    padding-top: 20px;
  }
  .grid-items-end{
    padding-bottom: 20px;
  }
  .calc-header{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  .padding-right{
    padding-left: 10px;
    padding-right: 10px;
  }
  .calc-header-items{
    display: flex;
    align-items: center;
    font-size: 115%;
    font-weight: bold;
  }
  .panel-calc-2{
    padding: 1em;
  }
  .whiteBg{
    background-color: white;
  }
  .padding-right-2{
    padding: 5px 25px;
  }
  .grid-right{
    display: grid;
    grid-template-columns: 2fr 3fr;
    row-gap: 8px;
    column-gap: 10px;
    margin: 10px  0;
    align-items: center;
  }
  .flex-right{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 0 auto;
  }
  .ared-2{
    font-size: smaller;
  }
  .min-width{
    width: fit-content;
  }
  .normal{
    font-size: 1rem;
  }
.py-1{
  padding: 4px 2px;
}